body {
  /* border: 3px solid #ee82ee ; */
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

#page {
  /* border: 3px solid #4682b4; */
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

#topic {
  /* border: 3px solid blue; */
  height: 100%;
  min-width: 20%;
  background-color: #1d2c82;
  list-style: none;
  position: sticky;
}

.mobile-menu-button{
  display: None;
  background-color: #1d2c82;
  min-width: 10%;
  font-size: 15px;
}


#mobile-menu {
  display: block;
  margin: 0px;
  background-color: #1d2c82;
  height:auto;
  min-width: 20%;
  list-style: none;
  text-decoration: none;
}






#topic li {
  /* background: rgb(29, 44, 130); */
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: none;
  position: sticky;
}

#topic li:hover {
  color: #20b2aa;
}

#topic li:active {
  color: #87cefa;
}

#content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background: rgb(5, 4, 24);
  /* background-image: url(https://www.pexels.com/search/code/); */
}

#inner {
  box-sizing: border-box;
  background-color: peru;
  margin: 0;
  height: 100%;
  padding: 1rem;
  box-shadow: inset 0 0 1rem 0.1rem rgba(0, 0, 0);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  color: whitesmoke;
  background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  overflow-y: auto;
}

.home h1 {
  font-size: 4rem;
  color: #696969;
}
.home p {
  font-size: 2rem;
  color: #b22222;
}

.about h1 {
  font-size: 4rem;
  color: #adff2f;
}

.about p {
  font-size: 22px;
  color: #00ffff;
}

.setting h1 {
  font-size: 4rem;
  color: #dc143c;
}

.setting p {
  font-size: 3rem;
  color: #ff1493;
}

.help h1 {
  font-size: 4rem;
  color: #adff2f;
}

.help p {
  font-size: 3rem;
  color: #7cfc00;
}

@media (max-width: 904px) {
  #topic {
    /* background: red; */
    display: none;
  }
  .mobile-menu-button{
    display: block;
    /* color: #1d2c82; */
  }
  #mobile-menu {
    background-color: #1d2c82;
    margin: 0px;
    display: block;
    font-size: 2rem;
    min-width: 20%;
    color:whitesmoke;
    cursor: pointer;
    text-decoration: none;
  }
  #topic li {
    /* background: rgb(29, 44, 130); */
    cursor: pointer;
    width: fit-content;
    margin: 0px;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: none;
    position: sticky;
  }
  .home h1{
    font-size: 2rem;
  }

  .home p{
    font-size: 1rem;
  }
  .about h1 {
    font-size: 2rem;
    color: #adff2f;
  }

  .about p {
    font-size: 1rem;
    color: #00ffff;
  }

  .setting h1 {
    font-size: 2rem;
    color: #dc143c;
  }

  .setting p {
    font-size: 1rem;
    color: #ff1493;
  }

  .help h1 {
    font-size: 2rem;
    color: #adff2f;
  }

  .help p {
    font-size: 1rem;
    color: #7cfc00;
  }
}

@media (max-width: 500px) {
  #topic {
    /* background: green; */
    display: None;
  }
  #mobile-menu {
    background-color: #1d2c82;
    margin: 0px;
    display: block;
    font-size: 1rem;
    min-width: 20%;
    color:whitesmoke;
    cursor: pointer;
    text-decoration: none;
  }

  #topic li {
    /* background: rgb(29, 44, 130); */
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 40px;
    color: whitesmoke;
    text-decoration: none;
    position: sticky;
  }
  .home h1{
    font-size: 2rem;
  }

  .home p{
    font-size: 1rem;
  }
  .about h1 {
    font-size: 2rem;
    color: #adff2f;
  }

  .about p {
    font-size: 1rem;
    color: #00ffff;
  }

  .setting h1 {
    font-size: 2rem;
    color: #dc143c;
  }

  .setting p {
    font-size: 1rem;
    color: #ff1493;
  }

  .help h1 {
    font-size: 2rem;
    color: #adff2f;
  }

  .help p {
    font-size: 1rem;
    color: #7cfc00;
  }
}